# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.Po

# Executables
*.exe
*.out
*.app

*.log
*.un~
*.swp

.DS_Store
tags

/src/third_party/gperftools-2.1/
config.h.in~
test-driver
/Makefile
/Makefile.in
/src/Makefile
/src/Makefile.in
/src/map/Makefile
/src/map/Makefile.in
src/lmntal/concurrent/Makefile
src/lmntal/concurrent/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.status
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/compile
/src/benchmark
/stamp-h1
/COPYING
/INSTALL
