# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.Po

# Executables
*.exe
*.out
*.app

*.log
*.un~

tags

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.status
configure
depcomp
install-sh
missing
src/.deps/
compile
src/benchmark
stamp-h1
